{{ define "home" }}
<!doctype html>
<html>

{{ template "html-head" . }}

<body class="py-5">
  <main class="my-5 px-3 max-w-[1048px] w-full min-h-[90vh] m-auto">

    <section id="welcome">
      <h1 class="text-[#895102] text-3xl font-bold">Ducklead_</h1>
      <h2 class="text-[#895102] text-xl font-bold">
        Hi, My name is Tam <span class="text-[#895102] text-sm">(a.k.a The Duck Lead)</span>
      </h2>
      <p class="text-[#895102] text-xl">Welcome to my Digital coffee shop</p>

      <div class="flex items-center gap-1 mt-1">
        <i class="ri-github-fill text-[#895102] text-xl"></i>
        <a href="https://github.com/Lentanta" target="_blank" class="text-[#895102] text-base">Lentanta</a>
      </div>
    </section>

    <section class="mt-8">
      <div>
        <h2 class="text-[#895102] text-xl font-bold">
          A Little About Myself
        </h2>
        <p class="text-[#895102] text-base mt-1">
          I’m a passionate software engineer who <b>loves building silly things</b> and exploring everything related to
          software
          and computer science. I also enjoy drawing, creating pixel art, making video games, and learning about
          graphics
          programming.
        </p>

        <p class="text-[#895102] text-base mt-1">
          With years of experience as a Web Developer, I enjoy solving real-world problems with elegant code. I thrive
          in fast-paced environments and love turning ideas into working products that people
          actually enjoy using.
        </p>
      </div>

      <div class="mt-8">
        <h2 class="text-[#895102] text-xl font-bold">
          Why The Duck Lead?
        </h2>
        <p class="text-[#895102] text-base mt-1">
          I think everyone has their own goals, some want to become a CTO, others aim to be a tech lead.
          But for me, the highest position I aspire to is becoming a duck owner.
        </p>
        <p class="text-[#895102] text-base mt-1 font-bold">Own a farm. Lead a flock of ducks. That’s the dream!</p>
      </div>

      <div class="mt-8">
        <h2 class="text-[#895102] text-xl font-bold">
          Why Go and HTMX?
        </h2>
        <p class="text-[#895102] text-base mt-1">
          I’ve built my own websites using the JavaScript tech stack before, but the constant changes and complexity of
          the JS ecosystem made me look for something simpler and more stable. I wanted a stack that’s fast,
          straightforward, and enjoyable to work with.
        </p>
        <p class="text-[#895102] text-base mt-1">That’s why I chose Go. Pairing it with HTMX lets me keep things minimal
          while still building dynamic, responsive web apps without the heavy frontend overhead.</p>
      </div>

      <div class="mt-8">
        <h2 class="text-[#895102] text-xl font-bold">
          Where is this website hosted?
        </h2>
        <p class="text-[#895102] text-base mt-1">
          On my homelab laptop at home. Why? Because it's cheap, fast, and fun! <br />
          I'm using Fedora Server to host this website, along with a small reverse proxy to expose it to the internet.
        </p>
      </div>
    </section>

    <!-- <div class="bg-gray-500"> -->
    <!--   <h1 class="m-2 text-3xl">Welcome to my website</h1> -->
    <!--   <i class="ri-github-fill ri-2x"></i> -->
    <!-- </div> -->
    <!---->
    <!-- <button hx-get="/hello" hx-swap="outerHTML"> -->
    <!--   Click Me -->
    <!-- </button> -->
  </main>

  {{ template "footer" }}
</body>

</html>
{{ end }}
