---
import BaseLayout from '../../layouts/BaseLayout.astro';
import MainContentLayout from '../../layouts/MainContenLayout.astro';
import updateNotes from "src/update-notes.json";
---

<BaseLayout>
  <MainContentLayout>
    <h1>Devlogs</h1>
    {updateNotes.map((data) => (
      <div class="mt-10">
        <h3>v{data.versionNo} ({data.name})</h3>
        <ul>
          {data.changes.map((change) => (
            <li>{change}</li>
          ))}
        </ul>
      </div>
    ))}
  </MainContentLayout>
</BaseLayout>
