@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  /* Backgrounds */
  --color-gruvbox-bg0_h: #1d2021;
  --color-gruvbox-bg0: #282828;
  --color-gruvbox-bg0_s: #32302f;
  --color-gruvbox-bg1: #3c3836;
  --color-gruvbox-bg2: #504945;
  --color-gruvbox-bg3: #665c54;
  --color-gruvbox-bg4: #7c6f64;

  /* Foregrounds */
  --color-gruvbox-fg0: #fbf1c7;
  --color-gruvbox-fg1: #ebdbb2;
  --color-gruvbox-fg2: #d5c4a1;
  --color-gruvbox-fg3: #bdae93;
  --color-gruvbox-fg4: #a89984;

  /* Colors */
  --color-gruvbox-gray: #928374;
  --color-gruvbox-red: #cc241d;
  --color-gruvbox-red-light: #fb4934;
  --color-gruvbox-green: #98971a;
  --color-gruvbox-green-light: #b8bb26;
  --color-gruvbox-yellow: #d79921;
  --color-gruvbox-yellow-light: #fabd2f;
  --color-gruvbox-blue: #458588;
  --color-gruvbox-blue-light: #83a598;
  --color-gruvbox-purple: #b16286;
  --color-gruvbox-purple-light: #d3869b;
  --color-gruvbox-aqua: #689d6a;
  --color-gruvbox-aqua-light: #8ec07c;
  --color-gruvbox-orange: #d65d0e;
  --color-gruvbox-orange-light: #fe8019;

  --color-body: ##000000bf;
  --color-primary: #7fbbdd;
  --color-secondary: #c4e9f2;
}

.creative-bg-1 {
  background-image: url("/favicon.svg")
}
