.article p {
  font-size: 17px;
  line-height: 1.7;
  color: var(--color-gruvbox-fg1);
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.article h1, h2, h3, h4 {
  line-height: 1.3;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  color: var(--color-gruvbox-fg1);
}

.article h1 { font-size: 2.2rem; }
.article h2 { font-size: 1.8rem; }
.article h3 { font-size: 1.5rem; }
.article h4 { font-size: 1.25rem; }
