---
import BaseLayout from '../layouts/BaseLayout.astro';
import PingPong from '../components/PingPong.astro';

import clsx from "clsx";
---

<BaseLayout>
  <main class={clsx(
    "grid grid-cols-1 gap-5", 
    "w-full max-w-[1024px] mx-auto px-3")}>

    <div class="m-1">
      <h1 class="mb-0">Hello, I'm Tâm!</h1>
      <p class="text-lg">Welcome to my digital playground</p>
      <p class="text-lg">I’m a passionate software engineer who <b>loves building silly things</b> and exploring everything related to software and computer science. 
      I also enjoy drawing, creating pixel art, making video games, and learning about graphics programming.</p>
      <p class="text-body text-lg">With years of experience as a full-stack developer, I enjoy solving real-world problems with elegant code. I thrive in fast-paced environments and love turning ideas into working products that people actually enjoy using.
      </p>

      <div class="mt-2">
        <h2 class="text-xl font-bold">
          Why The Duck Lead?
        </h2>
        <p class="text-base">
          I think everyone has their own goals.For me, the highest position I aspire to is becoming a duck owner.
          <span class="text-base font-bold">Own a farm. Lead a flock of ducks. That’s the dream!</span>
        </p>
    </div>
    </div>
  </main>
    <!-- Pixel paper section -->
    <!-- <div class="paper-bg"> -->
    <!--   <div class="p-3 pixel-code"> -->
    <!--     <p class="mb-1 text-xl">Tam Le <b>{'<Lv.28>'}</b></p> -->
    <!--     <p class=""> {'Nickname: Weekender Boy (M)'}</p> -->
    <!---->
    <!--     <p class="mb-1"> {'Class: Software Engineer'}</p> -->
    <!--     <p class="">Expirence: 6y+</p> -->
    <!---->
    <!--     <p class="mb-1 text-lg">Skills:</p> -->
    <!--     <ul> -->
    <!--       <li class="mb-1"><b>Front-end:</b> React/Next, Astro</li> -->
    <!--       <li class="mb-1"><b>Back-end:</b> NodeJS, Nest, Go</li> -->
    <!--       <li class="mb-1"><b>Devops:</b> AWS, Docker</li> -->
    <!--     </ul> -->
    <!--   </div> -->
    <!-- </div> -->
</BaseLayout>
