---
import BaseLayout from '../layouts/BaseLayout.astro';
import PingPong from '../components/PingPong.astro';

import DeviantArtLogo from '../assets/deviantart.svg'

import { Picture } from 'astro:assets';
import DuckIcon from "../assets/images/ducklead-icon.png";
import clsx from "clsx";
---

<BaseLayout>
  <div class={clsx(
    "grid grid-cols-1 md:grid-cols-[15rem_auto] gap-5", 
    "w-full max-w-[1024px] mx-auto -mt-12 px-3")}>

    <!-- Left column content -->
    <div id="left-col" class="flex flex-col gap-2">
      <div class="bg-white shadow-md rounded-md p-3">
        <div class="flex flex-col items-center gap-1">
          <Picture class="rounded-md hover:scale-80 transition-transform duration-300" src={DuckIcon} width={100} alt="ducklead-icon" />
          <div class="w-full">
            <h2 class="text-2xl text-body font-bold text-center">ducklead</h2>
            <div class="h-[5px] w-[20%] bg-primary m-auto" />
          </div>
        </div>

        <div class="mt-4 flex gap-2 justify-center">
          <a id="github-link" href="https://www.github.com/Lentanta" target="_blank" 
            class={clsx("rounded-md block h-10 w-10 bg-secondary/40", "flex items-center justify-center")}>
              <i class={clsx("text-3xl","ri-github-fill text-primary")} />
          </a>

          <a id="github-link" href="https://www.linkedin.com/in/thanh-t%C3%A2m-l%C3%AA-b95878193/" target="_blank" 
            class={clsx("rounded-md block h-10 w-10 bg-secondary/40", "flex items-center justify-center")}>
              <i class={clsx("text-3xl","ri-linkedin-box-fill text-primary")} />
          </a>

          <a id="github-link" href="https://www.deviantart.com/lentanta27" target="_blank" 
            class={clsx("rounded-md block h-10 w-10 bg-secondary/40", "flex items-center justify-center")}>
              <DeviantArtLogo class="w-6 h-6 text-primary" />
          </a>
        </div>
      </div>
    </div>

    <!-- Right column content -->
    <div id="right-col" class="flex flex-col gap-2">
      <div class="bg-white shadow-md rounded-md">
         <div class="p-2">
          <div class="p-3 border-2 rounded-md border-dashed border-primary">

          <div class="flex gap-2 items-center justify-center">
            <div class="w-[16px] h-[16px] bg-primary rounded-md" />
            <h2 class="text-xl md:text-2xl text-body font-bold">Hi there! My name is Tam</h2>
            <div class="w-[16px] h-[16px] bg-primary rounded-md" />
          </div>

          <p class="text-center text-body/80"> Welcome to my digital playground</p>

            <div class="mt-5">
              <p class="text-body text-lg">I’m a passionate software engineer who <b>loves building silly things</b> and exploring everything related to software and computer science. 
              I also enjoy drawing, creating pixel art, making video games, and learning about graphics programming.</p>
            </div>

            <div class="rounded-md mt-5 py-1">
              <PingPong />
            </div>

            <div class="mt-5">
              <p class="text-body text-lg">With years of experience as a Web Developer, I enjoy solving real-world problems with elegant code. I thrive
                  in fast-paced environments and love turning ideas into working products that people
                  actually enjoy using.
              </p>
            <div class="mt-5">


          <div class="mt-5">
            <h2 class="text-body text-xl font-bold">
              Why The Duck Lead?
            </h2>
            <p class="text-body text-base mt-1">
              I think everyone has their own goals, some want to become a CEO, others aim to be a leader.
              But for me, the highest position I aspire to is becoming a duck owner.
            </p>
            <p class="text-body text-base mt-1 font-bold">Own a farm. Lead a flock of ducks. That’s the dream!</p>
            </div>
          </div>
          </div>
      </div>
    </div>
    </div>  
  <div/>
</BaseLayout>
