<footer class="mt-[100px]">
  <div class="py-5">
    <p class="text-body text-center">© 2025 Lentanta. All Rights Reserved.</p>
    <p class="text-body text-center">Made with 💙 and powered by Astro</p>
    <a class="underline" href="/devlogs">
      <p class="text-body text-sm text-center mt-1">Version 0.4 (Melancholic)</p>
    </a>
  </div>
</footer>
