<nav>
  <div class="p-3 flex items-center justify-between">
    <div class="flex gap-1">
      <a href="/">
        <h1 class="text-2xl font-bold text-gruvbox-fg1">ducklead_</h1>
      </a>
    </div>

    <div class="flex gap-3">
      <a class="text-gruvbox-fg1 text-lg" href="/">Home</a>
      <a class="text-gruvbox-fg1 text-lg" href="/posts">Posts</a>
    </div>
  </div>
</nav>
