---
import { Image } from 'astro:assets';
import Logo from "src/assets/images/ducklead_logo.png";
---

<nav class="text-dark">
  <div class="max-w-[1024px] m-auto">
    <div class="md:py-3">
      <!-- Navigation bar -->
      <div class="p-5 bg-light rounded-lg px-4">
        <div class="flex items-center justify-center gap-3">
          <div class="text-dark h-1 w-full bg-dark"></div>
          <a href="/" class="hover:opacity-70 w-fit">
            <Image src={Logo} alt="ducklead_ logo" class="min-w-[300px]" />
          </a>
          <div class="text-dark h-1 w-full bg-dark"></div>
        </div>

        <div class="flex items-center justify-center gap-2 mt-3">
          <a href="/posts" class="text-dark font-bold text-lg w-fit">Posts</a>
          <div>-</div>
          <a href="/" class="text-dark font-bold text-lg w-fit">About me</a>
        </div>
      </div>

    </div>
  </div>
</nav>
