<div class="w-full lg:h-[800px] h-[400px] bg-[url(/images/sky-clouds.jpg)] bg-center bg-cover">

  <nav class="sticky top-0">
    <div class="max-w-[1024px] m-auto">
      <div class="md:py-3 p-2">
        <div class="p-3 flex items-center justify-between bg-white/80 backdrop-blur-md rounded-lg shadow">

          <div class="flex gap-1 rounded-md px-3 py-1">
            <a href="/">
              <h1 class="text-2xl text-primary font-bold">ducklead_</h1>
            </a>
          </div>

          <div class="flex gap-3">
            <!-- <a class="text-lg text-body" href="/">Home</a> -->
            <!-- <a class="text-lg text-primary" href="/posts">Posts</a> -->
          </div>
        </div>
      </div>
    </div>
  </nav>


</div>
