<div id="p5js" class="relative min-h-[200px] w-full">
  <!-- p5.js canvas will be inserted here -->
  <div class="absolute top-0 p-2">
    <p class="text-gruvbox-fg1">Made with p5.js</p>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
<script src="/scripts/sketch.js" is:inline></script>

