
<div class="bg-white shadow-md rounded-md p-3">
  <h2 class="text-xl md:text-2xl text-body font-bold">
    Random walker made with Godot Engine
  </h2>
  <iframe 
    class="w-full min-h-[500px] rounded-md mt-2"
    src="https://lentanta.github.io/godot-random-walker/" 
      title="Godot random walker" />
</div>
