---
import BaseLayout from './BaseLayout.astro';
import FullPageContentLayout from './FullPageContentLayout.astro';
const { title } = Astro.props.frontmatter;
---

<BaseLayout>
  <FullPageContentLayout>
    <main class="mx-auto px-4 py-10 max-w-prose">
      <article class="prose prose-neutral md:prose-xl">
        <h1 class="text-center">{title}</h1>
        <slot>
      </article>
    </main>
  </FullPageContentLayout>
</BaseLayout>
